.home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.product{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    justify-content: center;
    margin: 20px;
    align-items: center;
}

.img {
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-bottom: 3px;
}

.btn{
    background-color: rgb(50, 144, 244);
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    color: aliceblue;
    cursor: pointer;
    &:hover{
        opacity: 0.7;
    }
}